
body {
    font-family: 'Nunito', sans-serif;

}
.navbar{
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .container-fluid{
    height:800px;
} */

.react-calendar {
    
        width: 802px;
        height: 402px;
    
}





