.patientlist {
    background-color: yellowgreen;
}

.col-6{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    /* background-image: url("./clipboard-with-blank-paper-simple-template-vector-20402601.jpg"); */

    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    
    width: 1000px;
    
}